/* Main blocks */
body {
  background: #000;
  font-family: Averta;
  color: #fff;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 64px;

  color: #ffffff;
}

.title-xl {
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 80px;

  color: #ffffff;
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;

  opacity: 0.7;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #b2b2b3;

  opacity: 0.7;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header block */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Section one */
.section1 {
  position: relative;
  padding-top: 60px;
  background-image: url(../img/main_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}
.section1__content {
  margin-top: 220px;
  margin-bottom: 280px;
  margin-right: 45px;
}

.section1__content .desc {
  margin-top: 30px;
  margin-bottom: 45px;
  max-width: 530px;
}

.section1__form {
  max-width: 515px;
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 17px;
  padding: 0 6px;
}

.section1__input {
  height: 62px;
  flex: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 1px;
  color: #ffffff;
  padding-left: 32px;
}

.section1__submit {
  width: 182px;
  height: 50px;

  background: #7b61ff;
  border-radius: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.section1__btngroup {
  margin-top: 44px;
}

.section1__join:first-child {
  margin-right: 16px;
}

.section1__row {
  display: flex;
}

/* Images block */
.content-images {
  display: flex;
  flex-direction: row;
  gap: 45px;
  position: relative;
  top: -90px;
}

.content-images__row {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 36px;
}

.content-images__abs {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.content-images__bottom {
  position: absolute;
  width: 100%;
  bottom: -0;
  left: 0;
}

.content-images__opacity {
  opacity: 0.4;
}

/* Section two */
.section2 {
  position: relative;
  background: url(../img/section2_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 82px;
  background-position-y: -210px;
}
.section2__row {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 100px;
}

.section2__desc {
  margin-top: 32px;
}

.section2__arrows-group {
  position: absolute;
  top: 16px;
  right: 0;
}

.section2__arrow {
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.section2__arrow:first-child {
  margin-right: 16px;
}

/* Card block */
.card__text {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;

  color: #ffffff;
  opacity: 0.6;
}

.card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .section1__row {
    justify-content: center;
  }
  .content-images {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 40px;

    color: #ffffff;
  }

  .title-xl {
    font-size: 40px;
    line-height: 40px;
  }
  .section1 {
    background-size: 100%;
    background-position: top center;
  }

  .desc {
    font-size: 18px;
    line-height: 20px;
  }
  .text {
    font-size: 18px;
    line-height: 20px;
  }
  .section1__content {
    margin-top: 120px;
    margin-bottom: 140px;
    margin-right: 0;
  }
  .section1__form {
    width: 80%;
  }
  .section1__input {
    height: 40px;
  }
  .section1__submit {
    height: 32px;
  }
  .section2 {
    padding-bottom: 40px;
  }
  .section2__row {
    margin-top: 40px;
  }
  .section2__desc {
    margin-top: 16px;
  }
  .card__text {
    font-size: 12px;
    line-height: 14px;
  }
  .card__title {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 24px;
    line-height: 40px;

    color: #ffffff;
  }

  .title-xl {
    font-size: 24px;
    line-height: 26px;
  }
  .desc {
    font-size: 14px;
    line-height: 16px;
  }
  .text {
    font-size: 14px;
    line-height: 16px;
  }
  .section1__content {
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 0;
  }
  .section1__form {
    width: 90%;
  }
  .section2__arrow {
    padding: 8px;
  }
}
