body {
  background: #000;
  font-family: Averta;
  color: #fff;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 64px;

  color: #ffffff;
}

.title-xl {
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 80px;
  /* or 83% */

  /* White */

  color: #ffffff;
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #ffffff;

  opacity: 0.7;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #b2b2b3;

  opacity: 0.7;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.section1 {
  padding-top: 60px;
  background-image: url(../img/main_bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  margin-top: 220px;
  margin-bottom: 280px;
}

.content .title-xl {
}

.content .desc {
  margin-top: 30px;
  margin-bottom: 45px;
  max-width: 530px;
}

.main-form {
  max-width: 515px;
  display: flex;
  align-items: center;
}

.main-form .input {
  height: 62px;
  flex: 1;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 1px;
  color: #ffffff;
  padding-left: 32px;
}

.main-form .submit-button {
  width: 182px;
  height: 50px;

  background: #7b61ff;
  border-radius: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button-group {
  margin-top: 44px;
}

.join-us:first-child {
  margin-right: 16px;
}
