body {
  background: #000;
  font-family: Averta;
  color: #fff;
}

.title {
  font-weight: 800;
  font-size: 80px;
  line-height: 64px;

  color: #ffffff;
}

.title-xl {
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #b2b2b3;

  opacity: 0.7;
}
