.menu {
  position: fixed;
  background: #7b61ff;
  right: 0;
  top: 0;
  z-index: 99;
  color: #000;
  height: 100vh;
  width: 0;
  transition: 0.5s;
}

.menu__a {
  display: none;
}

.menu__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  color: #fff;
  margin: auto;
}

.menu.active {
  display: flex;
  width: 340px;
  transition: 0.5s;
}

.menu.active .menu__a {
  display: block;
}

.burger {
  position: relative;
  z-index: 999;
  cursor: pointer;
}
.toggle {
  z-index: 999;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu.active {
    width: 100%;
  }
}
